---
layout: page
type: home
---
<!-- -------------------------------------------- -->
<!-- About Section -->
<!-- -------------------------------------------- -->
<div class="row" id="about">
  <div class="col-xs-12 col-md-4 portrait">
    <img class="portrait-img" src="{{ site.url }}{{ site.baseurl }}/assets/img/portrait.jpg" alt="Responsive image">

    <div class="abt-sidebar">
      <div class="portrait-content">
        <h1><small>{{ site.author.name }}</small></h1>
        <h3>
          <small><small class="text-muted">{{ site.author.jobTitle }}</small></small><br>
          <a href="{{ site.author.orgURL }}" target="_blank"><small><small>{{ site.author.orgName }}</small></small></a>
        </h3>
      </div>
      <div class="social-content">
        <h3>
          <a href="{{ site.url }}/files/cv.pdf" class="social-icon" target="_blank"><i class="fas fa-file-alt"></i></a>
          <a href="https://www.facebook.com/{{ site.social-accounts.facebook }}" class="social-icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.linkedin.com/{{ site.social-accounts.linkedin }}" class="social-icon" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="mailto:{{ site.social-accounts.facebook }}" class="social-icon" target="_blank"><i class="fas fa-envelope"></i></a>
          <a href="https://github.com/{{ site.social-accounts.github }}" class="social-icon" target="_blank"><i class="fab fa-github-alt"></i></a>
        </h3>
      </div>
    </div>

    <div id="news" class="bg-light">
      <h1><small>News</small></h1>
      <br>
      {% assign i = 1 %}
      {% for news in site.data.news %}
        <div class="news-item">
          <small class="">[ {{ news.date }} ]</small><br>
          <p class="text-secondary">{{ news.title }}</p>
        </div>
        {% assign i = i | plus:1 %}
        {% if i == 4 %}
          {% break %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
    <h1 class="about-title display-6">About Me</h1>
    <div class="post-content ">
      <p>{% include about.md %}</p>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <h1 class="post-title display-5"><small>Interests</small></h1>
        <ul class="post-content ">
          {% for int in site.data.interests %}
			         <li>{{ int.name }}</li>
	        {% endfor %}
        </ul>
      </div>

      <div class="col-sm-7">
        <h1 class="post-title display-5"><small>Education</small></h1>
        <ul class="fa-ul post-content ">
          {% for edu in site.data.education %}
            <li>
              <i class="fa-li fa fa-graduation-cap"></i>
              <p class="course">{{ edu.course }}<br>
              <small class="text-muted">{{ edu.institution }}</small></p>
            </li>
	        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- -------------------------------------------- -->
<!-- Project Section -->
<!-- -------------------------------------------- -->
<section id="acad-projects"></section>
<div class="row">
  <div class="col-xs-12 col-md-12 portrait">
    <div class="project-title-hm bg-light">
      <h1 class="display-6">Projects</h1>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    {% assign i = 1 %}
    {% for projects in site.categories.projects %}
      <div class="project bg-light">
        <div class="project-header border-bottom">
          <h2 class="project-title">{{ projects.title }}</h2>
        </div>
        <div class="project-content lead">
          <p>{{ projects.abstract }}</p>
        </div>
        <a href="{{ site.baseurl }}{{ projects.url }}" class="project-footer">
          <button type="button" class="btn btn-outline-dark">Read More</button>
        </a>
      </div>
      {% assign i = i | plus:1 %}
      {% if i == 3 %}
        {% break %}
      {% endif %}
    {% endfor %}
    <div class="project bg-light">
      For a complete list, kindly check this <a href="{{ site.baseurl }}/projects/">page</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    {% assign i = 1 %}
    {% for projects in site.categories.projects %}
      {% if i > 2 %}
        <div class="project bg-light">
          <div class="project-header border-bottom">
            <h2 class="project-title">{{ projects.title }}</h2>
          </div>
          <div class="project-content lead">
            <p>{{ projects.abstract }}</p>
          </div>
          <a href="{{ site.baseurl }}{{ projects.url }}" class="project-footer">
            <button type="button" class="btn btn-outline-dark">Read More</button>
          </a>
        </div>
      {% endif %}
      {% assign i = i | plus:1 %}
      {% if i == 5 %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>
</div>
