<footer class="footer border-top">
  <div class="container">
    <div class="footer-content">
      <h1>
        <a href="https://www.facebook.com/{{ site.social-accounts.facebook }}" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="https://github.com/{{ site.social-accounts.github }}" class="social-icon"><i class="fab fa-github-alt"></i></a>
        <a href="https://youtube.com/channel/{{ site.social-accounts.youtube }}" class="social-icon"><i class="fab fa-youtube"></i></i></a>
        <a href="http://plus.google.com/{{ site.social-accounts.googleplus }}" class="social-icon"><i class="fab fa-google-plus-g"></i></a>
        <a href="https://twitter.com/{{ site.social-accounts.twitter }}" class="social-icon"><i class="fab fa-twitter"></i></a>
      </h1>
      <h5 style="padding-top: 1rem;"><i class="far fa-copyright"></i> Shashi Kant 2018</h5>
    </div>
  </div>
</footer>
