<footer class="footer bg-light">
  <div class="container">
    <div class="footer-content">
      <h1>
        <a href="https://www.facebook.com/{{ site.social-accounts.facebook }}" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="https://github.com/{{ site.social-accounts.github }}" class="social-icon"><i class="fab fa-github-alt"></i></a>
        <a href="https://youtube.com/channel/{{ site.social-accounts.youtube }}" class="social-icon"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/{{ site.social-accounts.twitter }}" class="social-icon"><i class="fab fa-twitter"></i></a>
      </h1>
      <p class="" style="padding-top: 1rem;"><i class="far fa-copyright"></i> 2020 {{ site.title }}</p>
      <p>Designed by <a href="http://shashikg.github.io/" target="_blank" class="text-decoration-none">Shashi Kant</a></p>
    </div>
  </div>
</footer>
