<nav class="shadow-sm navbar navbar-expand-md navbar-light fixed-top " style="background-color: #ffffff;">
  <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/" style="text-transform: uppercase;">{{ site.author.name }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav  mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="{{ site.url }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://shashikg.github.io/blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.url }}/files/cv.pdf" target="_blank">CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://poetrybyska.blogspot.com/" target="_blank">My Pen</a>
      </li>
    </ul>

    {% if page.type == 'home' %}
      <a class="nav-link" href="#">About</a>
      <a class="nav-link" href="/#projects">Projects</a>
    {% else %}
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    {% endif %}

  </div>
</nav>
